.news {
  background-image: url(../../assets/images/partners-bg.png);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 130px 0;
}
.news .owl-theme {
  position: relative;
}
.news .owl-theme .owl-nav {
  position: absolute;
  top: -100%;
  left: 80%;
  transform: translateY(50%);
}
.news .owl-carousel .owl-nav button.owl-prev,
.news .owl-carousel .owl-nav button.owl-next {
  border: 1px solid #7dccf8;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  transition: width 0.5s;
}
.news .owl-carousel .owl-nav button.owl-prev:hover,
.news .owl-carousel .owl-nav button.owl-next:hover {
  background-color: transparent;
}
.news .owl-theme .owl-nav button.owl-next.disabled,
.news .owl-theme .owl-nav button.owl-prev.disabled {
  border: 1px solid #7dccf8;
  width: 30px;
  height: 30px;
  border-radius: 30px;
}
.twitter-card {
  background-color: #16202a;
}
.col {
  padding: 0 16px 16px 0;
}
.col:nth-child(8),
.col:nth-child(7) {
  padding-right: 0;
}

.twitter-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-flow: column wrap;
  height: 1000px;
}
@media (max-width: 1140px) {
  .twitter-container {
    height: 1100px;
  }
}
@media (max-width: 900px) {
  .twitter-container {
    height: 1300px;
  }
}
@media (max-width: 700px) {
  .twitter-container {
    height: 1600px;
  }
}
@media (max-width: 640px) {
  .twitter-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    height: auto;
  }
  .col {
    padding-right: 0;
  }
}

@media (max-width: 768px) {
  .news .owl-theme .owl-nav {
    position: absolute;
    top: 100%;
    left: 0;
  }
  .col:nth-child(5),
  .col:nth-child(6),
  .col:nth-child(8),
  .col:nth-child(7) {
    padding-right: 0;
  }
}
