.title-text {
  font-size: 100px;
  background: -webkit-linear-gradient(
    360deg,
    rgba(102, 195, 248, 1) 0%,
    rgba(47, 129, 224, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 104%;
}
section {
  position: relative;
  float: left;
  width: 100%;
}
@media (min-width: 768px) {
  [data-aos="rotate-content"] {
    transform: rotate(-90deg);
    opacity: 0;
    transition-property: transform, opacity;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
  }
  [data-aos="rotate-content"].aos-animate {
    transform: rotate(0);
    opacity: 1;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
  }
}
